{
  "openapi": "3.0.1",
  "info": {
    "title": "UCloud | Provider API",
    "termsOfService": "https://legal.cloud.sdu.dk",
    "contact": {
      "email": "support@escience.sdu.dk"
    },
    "license": {
      "name": "EUPL-1.2",
      "url": "https://github.com/SDU-eScience/UCloud/blob/master/LICENSE.md"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://docs.cloud.sdu.dk/dev/_images/logo.png"
    }
  },
  "externalDocs": {
    "url": "https://docs.cloud.sdu.dk"
  },
  "servers": [
    {
      "url": "https://cloud.sdu.dk"
    }
  ],
  "tags": [
    {
      "name": "jobs.compute.PROVIDERID",
      "description": "\nThe calls described in this section covers the API that providers of compute must implement. Not all\nfeatures of the compute API must be implemented, these can be configured by providing a different manifest\nsee [`retrieveManifest`](#operation/jobs.compute.PROVIDERID.retrieveManifest)). The individual calls and types will describe how the manifest\naffects them.\n            \nCompute providers must answer to the calls listed below. Providers should take care to verify the bearer\ntoken according to the TODO documentation.\n            \nThe provider and UCloud works in tandem by sending pushing information to each other when new information\nbecomes available. Compute providers can push information to UCloud by using the\n[`jobs.control`](#tag/jobs.control) API.\n\n### What information does `Job` include?\n\nThe UCloud API will communicate with the provider and include a reference of the `Job` which the request is about. The\n`Job` model has several optional fields which are not always included. You can see which flags are set by UCloud when\nretrieving the `Job`. If you need additional data you may use [`jobs.control.retrieve`](#operation/jobs.control.retrieve) to fetch additional\ninformation about the job. The flags selected below should give the provider enough information that the rest can\neasily be cached locally. For example, providers can with great benefit choose to cache product and application\ninformation.\n\n| Flag | Included | Comment |\n|------|----------|---------|\n| `includeParameters` | `true` | Specifies how the user invoked the application. |\n| `includeApplication` | `false` | Application information specifies the tool and application running. Can safely be cached indefinitely by name and version. |\n| `includeProduct` | `false` | Product information specifies dimensions of the machine. Can safely be cached for 24 hours by name. |\n| `includeUpdates` | `false` | You, the provider, will have supplied all updates but they are stored by UCloud. |\n| `includeWeb` | `false` | You, the provider, will supply this information. Asking would cause UCloud to ask you back. |\n| `includeVnc` | `false` | You, the provider, will supply this information. Asking would cause UCloud to ask you back. |\n| `includeShell` | `false` |  You, the provider, will supply this information. Asking would cause UCloud to ask you back. |\n            \n### Accounting\n            \nIt is up to the provider how accounting is done and if they wish to push accounting information to UCloud. \nA provider might, for example, choose to do all of the accounting on their own (including tracking who has\naccess). This would allow a provider to use UCloud just as an interface.\n           \nIf a provider wishes to use UCloud for accounting then this is possible. UCloud provides an API which \nallows the provider to charge for a running compute job. The provider may call this API repeatedly to \ncharge the user for their job. UCloud will respond with a payment required if the user's wallet\nis out of credits. This indicates to the compute provider that the job should be terminated (since they \nno longer have credit for the job).\n \n### Example: Complete example with accounting\n            \n| ID | UCloud | - | Provider | Call | Message |\n|----|--------|---|----------|------|---------|\n| [1] Request | UCloud | → | Provider | [`create`](#operation/jobs.compute.PROVIDERID.create) | Start application with ID `FOO123` |\n| [1] Response | UCloud | ← | Provider | [`create`](#operation/jobs.compute.PROVIDERID.create) | OK |\n| [2] Request | UCloud | ← | Provider | [`jobs.control.update`](#operation/jobs.control.update) | Proceed to `RUNNING` |\n| [3] Request | UCloud | ← | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | Charge for 15 minutes of use |\n| [4] Request | UCloud | ← | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | Charge for 15 minutes of use |\n| [5] Request | UCloud | ← | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | Charge for 15 minutes of use |\n| [6] Request | UCloud | → | Provider | [`delete`](#operation/jobs.compute.PROVIDERID.delete) | Delete `FOO123` |\n| [7] Request | UCloud | ← | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | Charge for 3 minutes of use |\n| [8] Request | UCloud | ← | Provider | [`jobs.control.update`](#operation/jobs.control.update) | Proceed to `SUCCESS` |\n\n### Example: Missing credits\n            \n| ID | UCloud | - | Provider | Call | Message |\n|----|--------|---|----------|------|---------|\n| [1] Request | UCloud | → | Provider | [`create`](#operation/jobs.compute.PROVIDERID.create) | Start application with ID `FOO123` |\n| [1] Response | UCloud | ← | Provider | [`create`](#operation/jobs.compute.PROVIDERID.create) | OK |\n| [2] Request | UCloud | ← | Provider | [`jobs.control.update`](#operation/jobs.control.update) | Proceed to `RUNNING` |\n| [3] Request | UCloud | ← | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | Charge for 15 minutes of use |\n| [3] Response | UCloud | → | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | 402 Payment Required |\n| [4] Request | UCloud | ← | Provider | [`jobs.control.update`](#operation/jobs.control.update) | Proceed to `SUCCESS` with message 'Insufficient funds' |\n\n### Example: UCloud and provider out-of-sync\n\n| ID | UCloud | - | Provider | Call | Message |\n|----|--------|---|----------|------|---------|\n| [1] Request | UCloud | → | Provider | [`create`](#operation/jobs.compute.PROVIDERID.create) | Start application with ID `FOO123` |\n| [1] Response | UCloud | ← | Provider | [`create`](#operation/jobs.compute.PROVIDERID.create) | OK |\n| [2] Request | UCloud | ← | Provider | [`jobs.control.update`](#operation/jobs.control.update) | Proceed to `RUNNING` |\n| [3] Request | UCloud | ← | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | Charge for 15 minutes of use |\n| [3] Response | UCloud | → | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | 402 Payment Required |           \n| [3] Request | UCloud | ← | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | Charge for 15 minutes of use |\n| [3] Response | UCloud | → | Provider | [`jobs.control.chargeCredits`](#operation/jobs.control.chargeCredits) | 402 Payment Required |           \n| [4] Comment | | | | | `FOO123` disappears/crashes at provider - Provider did not notice and notify UCloud automatically |\n| [5] Request | UCloud | → | Provider | [`verify`](#operation/jobs.compute.PROVIDERID.verify) | Verify that `FOO123` is running |\n| [5] Response | UCloud | ← | Provider | [`verify`](#operation/jobs.compute.PROVIDERID.verify) | OK |\n| [6] Request | UCloud | → | Provider | [`jobs.control.update`](#operation/jobs.control.update) | Proceed `FOO123` to `FAILURE` |\n",
      "x-displayName": "Provider API: Compute"
    },
    {
      "name": "jobs.control",
      "description": "Internal API between UCloud and compute providers. This API allows compute providers to push state changes\nto UCloud.",
      "x-displayName": "Job control"
    }
  ],
  "paths": {
    "/ucloud/PROVIDERID/compute/jobs/": {
      "post": {
        "tags": [
          "jobs.compute.PROVIDERID"
        ],
        "summary": "Start a compute job (create)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Services](https://img.shields.io/static/v1?label=Auth&message=Services&color=informational&style=flat-square)\n\nStarts one or more compute jobs. The jobs have already been verified by UCloud and it is assumed to be\nready for the provider. The provider can choose to reject the entire batch by responding with a 4XX or\n5XX status code. Note that the batch must be handled as a single transaction.\n\nThe provider should respond to this request as soon as the jobs have been scheduled. The provider should\nthen switch to [`jobs.control.update`](#operation/jobs.control.update) in order to provide updates about the progress.",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bulk"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "deprecated": false
                }
              }
            }
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      },
      "delete": {
        "tags": [
          "jobs.compute.PROVIDERID"
        ],
        "summary": "Request job cancellation and destruction (delete)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Services](https://img.shields.io/static/v1?label=Auth&message=Services&color=informational&style=flat-square)\n\nDeletes one or more compute jobs. The provider should not only stop the compute job but also delete\n_compute_ related resources. For example, if the job is a virtual machine job, the underlying machine\nshould also be deleted. None of the resources attached to the job, however, should be deleted.",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bulk"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "deprecated": false
                }
              }
            }
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    },
    "/ucloud/PROVIDERID/compute/jobs/extend": {
      "post": {
        "tags": [
          "jobs.compute.PROVIDERID"
        ],
        "summary": "Extend the duration of a job (extend)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Services](https://img.shields.io/static/v1?label=Auth&message=Services&color=informational&style=flat-square)\n\n",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.ComputeExtendRequestItem"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bulk"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.ComputeExtendRequestItem"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "deprecated": false
                }
              }
            }
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    },
    "/ucloud/PROVIDERID/compute/jobs/suspend": {
      "post": {
        "tags": [
          "jobs.compute.PROVIDERID"
        ],
        "summary": "Suspend a job (suspend)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Services](https://img.shields.io/static/v1?label=Auth&message=Services&color=informational&style=flat-square)\n\n",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bulk"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "deprecated": false
                }
              }
            }
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    },
    "/ucloud/PROVIDERID/compute/jobs/verify": {
      "post": {
        "tags": [
          "jobs.compute.PROVIDERID"
        ],
        "summary": "Verify UCloud data is synchronized with provider (verify)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Services](https://img.shields.io/static/v1?label=Auth&message=Services&color=informational&style=flat-square)\n\nThis call is periodically executed by UCloud against all active providers. It is the job of the\nprovider to ensure that the jobs listed in the request are in its local database. If some of the\njobs are not in the provider's database then this should be treated as a job which is no longer valid.\nThe compute backend should trigger normal cleanup code and notify UCloud about the job's termination.\n\nThe backend should _not_ attempt to start the job.",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bulk"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "deprecated": false
                }
              }
            }
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    },
    "/ucloud/PROVIDERID/compute/jobs/retrieveManifest": {
      "get": {
        "tags": [
          "jobs.compute.PROVIDERID"
        ],
        "summary": "Retrieves the compute provider manifest (retrieveManifest)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Services](https://img.shields.io/static/v1?label=Auth&message=Services&color=informational&style=flat-square)\n\n",
        "operationId": "jobs",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.ProviderManifest"
                }
              }
            },
            "description": "200 response description here"
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    },
    "/ucloud/PROVIDERID/compute/jobs/interactiveSession": {
      "post": {
        "tags": [
          "jobs.compute.PROVIDERID"
        ],
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Services](https://img.shields.io/static/v1?label=Auth&message=Services&color=informational&style=flat-square)\n\n",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.ComputeOpenInteractiveSessionRequestItem"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bulk"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.ComputeOpenInteractiveSessionRequestItem"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.ComputeOpenInteractiveSessionResponse"
                }
              }
            },
            "description": "200 response description here"
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "x-ucloud-call": {}
      }
    },
    "/api/jobs/control/update": {
      "post": {
        "tags": [
          "jobs.control"
        ],
        "summary": "Push state changes to UCloud (update)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Provider](https://img.shields.io/static/v1?label=Auth&message=Provider&color=informational&style=flat-square)\n\nPushes one or more state changes to UCloud. UCloud will always treat all updates as a single\ntransaction. UCloud may reject the status updates if it deems them to be invalid. For example, an\nupdate may be rejected if it performs an invalid state transition, such as from a terminal state to\na running state.",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobsControlUpdateRequestItem"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bulk"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobsControlUpdateRequestItem"
                        }
                      }
                    }
                  }
                ]
              },
              "examples": {
                "State transition to running": {
                  "value": {
                    "jobId": "jobId",
                    "state": "RUNNING",
                    "status": "The job is now running"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "deprecated": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                },
                "examples": {
                  "Invalid state transition": {
                    "value": {
                      "why": "Invalid state transition",
                      "errorCode": "INVALID_TRANSITION"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    },
    "/api/jobs/control/chargeCredits": {
      "post": {
        "tags": [
          "jobs.control"
        ],
        "summary": "Charge the user for the job (chargeCredits)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Provider](https://img.shields.io/static/v1?label=Auth&message=Provider&color=informational&style=flat-square)\n\n",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobsControlChargeCreditsRequestItem"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bulk"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobsControlChargeCreditsRequestItem"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobsControlChargeCreditsResponse"
                }
              }
            },
            "description": "200 response description here"
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    },
    "/api/jobs/control/retrieve": {
      "get": {
        "tags": [
          "jobs.control"
        ],
        "summary": "Retrieve job information (retrieve)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Provider](https://img.shields.io/static/v1?label=Auth&message=Provider&color=informational&style=flat-square)\n\nAllows the compute backend to query the UCloud database for a job owned by the compute provider.",
        "operationId": "jobs",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          {
            "name": "includeApplication",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true,
              "deprecated": false
            }
          },
          {
            "name": "includeParameters",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true,
              "deprecated": false
            }
          },
          {
            "name": "includeProduct",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true,
              "deprecated": false
            }
          },
          {
            "name": "includeUpdates",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true,
              "deprecated": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.Job"
                }
              }
            },
            "description": "200 response description here"
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    },
    "/api/jobs/control/submitFile": {
      "post": {
        "tags": [
          "jobs.control"
        ],
        "summary": "Submit output file to UCloud (submitFile)",
        "description": "![API: Experimental/Alpha](https://img.shields.io/static/v1?label=API&message=Experimental/Alpha&color=orange&style=flat-square)\n![Auth: Provider](https://img.shields.io/static/v1?label=Auth&message=Provider&color=informational&style=flat-square)\n\nSubmits an output file to UCloud which is not available to be put directly into the storage resources\nmounted by the compute provider.\n\nNote: We do not recommend using this endpoint for transferring large quantities of data/files.",
        "operationId": "jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jobId": {
                    "type": "string",
                    "nullable": false,
                    "deprecated": false
                  },
                  "filePath": {
                    "type": "string",
                    "nullable": false,
                    "deprecated": false
                  }
                },
                "nullable": false,
                "deprecated": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "deprecated": false
                }
              }
            }
          },
          "default": {
            "description": "Generic error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dk.sdu.cloud.CommonErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ucloud-call": {}
      }
    }
  },
  "components": {
    "schemas": {
      "dk.sdu.cloud.CommonErrorMessage": {
        "type": "object",
        "properties": {
          "why": {
            "type": "string",
            "description": "Human readable description of why the error occurred. This value is generally not stable.",
            "nullable": false,
            "deprecated": false
          },
          "errorCode": {
            "type": "string",
            "description": "Machine readable description of why the error occurred. This value is stable and can be relied upon.",
            "nullable": true,
            "deprecated": false
          }
        },
        "description": "Generic error message",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.CommonErrorMessage_Opt": {
        "type": "object",
        "properties": {
          "why": {
            "type": "string",
            "description": "Human readable description of why the error occurred. This value is generally not stable.",
            "nullable": false,
            "deprecated": false
          },
          "errorCode": {
            "type": "string",
            "description": "Machine readable description of why the error occurred. This value is stable and can be relied upon.",
            "nullable": true,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.calls.BulkRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "object",
              "nullable": false,
              "deprecated": false
            }
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "bulk"
            ]
          }
        },
        "nullable": false,
        "deprecated": false,
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "bulk": "#/components/schemas/dk.sdu.cloud.calls.BulkRequest.Bulk"
          }
        }
      },
      "dk.sdu.cloud.calls.BulkRequest.Bulk": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "object",
              "nullable": false,
              "deprecated": false
            }
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "bulk"
            ]
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.calls.BulkRequest.Bulk_Opt": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "object",
              "nullable": false,
              "deprecated": false
            }
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "bulk"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.calls.BulkRequest_Opt": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "object",
              "nullable": false,
              "deprecated": false
            }
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "bulk"
            ]
          }
        },
        "nullable": true,
        "deprecated": false,
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "bulk": "#/components/schemas/dk.sdu.cloud.calls.BulkRequest.Bulk"
          }
        }
      },
      "dk.sdu.cloud.app.orchestrator.api.Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this job.\n\nUCloud guarantees that no other job, regardless of compute provider, has the same unique identifier.",
            "nullable": false,
            "deprecated": false
          },
          "owner": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobOwner"
          },
          "updates": {
            "type": "array",
            "description": "A list of status updates from the compute backend.\n\nThe status updates tell a story of what happened with the job. This list is ordered by the timestamp in ascending order. The current state of the job will always be the last element. `updates` is guaranteed to always contain at least one element.",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "integer",
                  "format": "int64",
                  "nullable": false,
                  "deprecated": false
                },
                "state": {
                  "type": "string",
                  "nullable": true,
                  "deprecated": false,
                  "enum": [
                    "IN_QUEUE",
                    "RUNNING",
                    "CANCELING",
                    "SUCCESS",
                    "FAILURE",
                    "EXPIRED"
                  ]
                },
                "status": {
                  "type": "string",
                  "nullable": true,
                  "deprecated": false
                }
              },
              "nullable": false,
              "deprecated": false
            }
          },
          "billing": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobBilling"
          },
          "parameters": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobParameters"
          },
          "status": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobStatus"
          },
          "output": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.orchestrator.api.JobOutput_Opt"
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.orchestrator.api.JobOwner": {
        "type": "object",
        "properties": {
          "launchedBy": {
            "type": "string",
            "description": "The username of the user which started the job",
            "nullable": false,
            "deprecated": false
          },
          "project": {
            "type": "string",
            "description": "The project ID of the project which owns this job\n\nThis value can be null and this signifies that the job belongs to the personal workspace of the user.",
            "nullable": true,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.orchestrator.api.JobOwner_Opt": {
        "type": "object",
        "properties": {
          "launchedBy": {
            "type": "string",
            "description": "The username of the user which started the job",
            "nullable": false,
            "deprecated": false
          },
          "project": {
            "type": "string",
            "description": "The project ID of the project which owns this job\n\nThis value can be null and this signifies that the job belongs to the personal workspace of the user.",
            "nullable": true,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.orchestrator.api.JobUpdate": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "state": {
            "type": "string",
            "nullable": true,
            "deprecated": false,
            "enum": [
              "IN_QUEUE",
              "RUNNING",
              "CANCELING",
              "SUCCESS",
              "FAILURE",
              "EXPIRED"
            ]
          },
          "status": {
            "type": "string",
            "nullable": true,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.orchestrator.api.JobUpdate_Opt": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "state": {
            "type": "string",
            "nullable": true,
            "deprecated": false,
            "enum": [
              "IN_QUEUE",
              "RUNNING",
              "CANCELING",
              "SUCCESS",
              "FAILURE",
              "EXPIRED"
            ]
          },
          "status": {
            "type": "string",
            "nullable": true,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.orchestrator.api.JobBilling": {
        "type": "object",
        "properties": {
          "creditsCharged": {
            "type": "integer",
            "description": "The amount of credits charged to the `owner` of this job",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "pricePerUnit": {
            "type": "integer",
            "description": "The unit price of this job",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.orchestrator.api.JobBilling_Opt": {
        "type": "object",
        "properties": {
          "creditsCharged": {
            "type": "integer",
            "description": "The amount of credits charged to the `owner` of this job",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "pricePerUnit": {
            "type": "integer",
            "description": "The unit price of this job",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.orchestrator.api.JobParameters": {
        "type": "object",
        "properties": {
          "application": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.NameAndVersion"
          },
          "product": {
            "$ref": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductReference"
          },
          "name": {
            "type": "string",
            "description": "A name for this job assigned by the user.\n\nThe name can help a user identify why and with which parameters a job was started. This value is suitable for display in user interfaces.",
            "nullable": true,
            "deprecated": false
          },
          "replicas": {
            "type": "integer",
            "description": "The number of replicas to start this job in\n\nThe `resources` supplied will be mounted in every replica. Some `resources` might only be supported in an 'exclusive use' mode. This will cause the job to fail if `replicas != 1`.",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "allowDuplicateJob": {
            "type": "boolean",
            "description": "Allows the job to be started even when a job is running in an identical configuration\n\nBy default, UCloud will prevent you from accidentally starting two jobs with identical configuration. This field must be set to `true` to allow you to create two jobs with identical configuration.",
            "nullable": false,
            "deprecated": false
          },
          "parameters": {
            "additionalProperties": {
              "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue"
            },
            "description": "Parameters which are consumed by the job\n\nThe available parameters are defined by the `application`. This attribute is not included by default unless `includeParameters` is specified.",
            "nullable": true,
            "deprecated": false
          },
          "resources": {
            "type": "array",
            "description": "Additional resources which are made available into the job\n\nThis attribute is not included by default unless `includeParameters` is specified. Note: Not all resources can be attached to a job. UCloud supports the following parameter types as resources:\n\n - `file`\n - `peer`\n - `network`\n - `block_storage`\n - `ingress`\n",
            "nullable": true,
            "deprecated": false,
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "nullable": false,
                  "deprecated": false,
                  "enum": [
                    "file",
                    "boolean",
                    "text",
                    "integer",
                    "floating_point",
                    "peer",
                    "license_server",
                    "network",
                    "block_storage",
                    "ingress"
                  ]
                }
              },
              "description": "A parameter supplied to a compute job",
              "nullable": false,
              "deprecated": false,
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "file": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.File",
                  "boolean": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Bool",
                  "text": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Text",
                  "integer": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Integer",
                  "floating_point": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.FloatingPoint",
                  "peer": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Peer",
                  "license_server": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.License",
                  "network": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Network",
                  "block_storage": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.BlockStorage",
                  "ingress": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Ingress"
                }
              }
            }
          },
          "timeAllocation": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.SimpleDuration_Opt"
          },
          "resolvedProduct": {
            "$ref": "#/components/schemas/dk.sdu.cloud.accounting.api.Product.Compute_Opt"
          },
          "resolvedApplication": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.Application_Opt"
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.NameAndVersion": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "version": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.NameAndVersion_Opt": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "version": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "category": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "provider": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductReference_Opt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "category": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "provider": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "file",
              "boolean",
              "text",
              "integer",
              "floating_point",
              "peer",
              "license_server",
              "network",
              "block_storage",
              "ingress"
            ]
          }
        },
        "description": "A parameter supplied to a compute job",
        "nullable": false,
        "deprecated": false,
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "file": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.File",
            "boolean": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Bool",
            "text": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Text",
            "integer": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Integer",
            "floating_point": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.FloatingPoint",
            "peer": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Peer",
            "license_server": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.License",
            "network": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Network",
            "block_storage": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.BlockStorage",
            "ingress": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Ingress"
          }
        }
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.File": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "readOnly": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "file"
            ]
          }
        },
        "description": "A reference to a UCloud file\n\nThe path to the file most always be absolute an refers to either a UCloud directory or file.",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.File_Opt": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "readOnly": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "file"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Bool": {
        "type": "object",
        "properties": {
          "value": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "boolean"
            ]
          }
        },
        "description": "A boolean value",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Bool_Opt": {
        "type": "object",
        "properties": {
          "value": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "boolean"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Text": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "text"
            ]
          }
        },
        "description": "A textual value",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Text_Opt": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "text"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Integer": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "integer"
            ]
          }
        },
        "description": "An integral value\n\nInternally this uses a big integer type and there are no defined limits.",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Integer_Opt": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "integer"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.FloatingPoint": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "float32",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "floating_point"
            ]
          }
        },
        "description": "A floating point value\n\nInternally this uses a big decimal type and there are no defined limits.",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.FloatingPoint_Opt": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "float32",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "floating_point"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Peer": {
        "type": "object",
        "properties": {
          "hostname": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "jobId": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "peer"
            ]
          }
        },
        "description": "A reference to a separate UCloud job\n\nThe compute provider should use this information to make sure that the two jobs can communicate with each other.",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Peer_Opt": {
        "type": "object",
        "properties": {
          "hostname": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "jobId": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "peer"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.License": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "license_server"
            ]
          }
        },
        "description": "A reference to a license",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.License_Opt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "license_server"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Network": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "network"
            ]
          }
        },
        "description": "A reference to block storage",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Network_Opt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "network"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.BlockStorage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "block_storage"
            ]
          }
        },
        "description": "A reference to block storage",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.BlockStorage_Opt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "block_storage"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Ingress": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "ingress"
            ]
          }
        },
        "description": "HTTP Ingress",
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue.Ingress_Opt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "ingress"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.AppParameterValue_Opt": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "file",
              "boolean",
              "text",
              "integer",
              "floating_point",
              "peer",
              "license_server",
              "network",
              "block_storage",
              "ingress"
            ]
          }
        },
        "nullable": true,
        "deprecated": false,
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "file": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.File",
            "boolean": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Bool",
            "text": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Text",
            "integer": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Integer",
            "floating_point": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.FloatingPoint",
            "peer": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Peer",
            "license_server": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.License",
            "network": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Network",
            "block_storage": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.BlockStorage",
            "ingress": "#/components/schemas/dk.sdu.cloud.app.store.api.AppParameterValue.Ingress"
          }
        }
      },
      "dk.sdu.cloud.app.store.api.SimpleDuration": {
        "type": "object",
        "properties": {
          "hours": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "minutes": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "seconds": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.SimpleDuration_Opt": {
        "type": "object",
        "properties": {
          "hours": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "minutes": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "seconds": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.Product.Compute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "pricePerUnit": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "category": {
            "$ref": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductCategoryId"
          },
          "description": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "availability": {
            "$ref": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductAvailability"
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "cpu": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "deprecated": false
          },
          "memoryInGigs": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "deprecated": false
          },
          "gpu": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductCategoryId": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "provider": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductCategoryId_Opt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "provider": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductAvailability": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "available",
              "unavailable"
            ]
          }
        },
        "nullable": false,
        "deprecated": false,
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "available": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductAvailability.Available",
            "unavailable": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductAvailability.Unavailable"
          }
        }
      },
      "dk.sdu.cloud.accounting.api.ProductAvailability.Available": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "available"
            ]
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductAvailability.Available_Opt": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "available"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductAvailability.Unavailable": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "unavailable"
            ]
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductAvailability.Unavailable_Opt": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "unavailable"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.accounting.api.ProductAvailability_Opt": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "available",
              "unavailable"
            ]
          }
        },
        "nullable": true,
        "deprecated": false,
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "available": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductAvailability.Available",
            "unavailable": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductAvailability.Unavailable"
          }
        }
      },
      "dk.sdu.cloud.accounting.api.Product.Compute_Opt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "pricePerUnit": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "category": {
            "$ref": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductCategoryId"
          },
          "description": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "availability": {
            "$ref": "#/components/schemas/dk.sdu.cloud.accounting.api.ProductAvailability"
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "cpu": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "deprecated": false
          },
          "memoryInGigs": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "deprecated": false
          },
          "gpu": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.Application": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationMetadata"
          },
          "invocation": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationInvocationDescription"
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.ApplicationMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "version": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "authors": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "title": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "description": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "website": {
            "type": "string",
            "nullable": true,
            "deprecated": false
          },
          "public": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.ApplicationMetadata_Opt": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "version": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "authors": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "title": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "description": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "website": {
            "type": "string",
            "nullable": true,
            "deprecated": false
          },
          "public": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.ApplicationInvocationDescription": {
        "type": "object",
        "properties": {
          "tool": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.ToolReference"
          },
          "invocation": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "nullable": false,
                  "deprecated": false,
                  "enum": [
                    "word",
                    "bool_flag",
                    "var",
                    "env"
                  ]
                }
              },
              "nullable": false,
              "deprecated": false,
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "word": "#/components/schemas/dk.sdu.cloud.app.store.api.WordInvocationParameter",
                  "bool_flag": "#/components/schemas/dk.sdu.cloud.app.store.api.BooleanFlagParameter",
                  "var": "#/components/schemas/dk.sdu.cloud.app.store.api.VariableInvocationParameter",
                  "env": "#/components/schemas/dk.sdu.cloud.app.store.api.EnvironmentVariableParameter"
                }
              }
            }
          },
          "parameters": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "nullable": false,
                  "deprecated": false,
                  "enum": [
                    "input_file",
                    "input_directory",
                    "text",
                    "integer",
                    "boolean",
                    "floating_point",
                    "peer",
                    "enumeration",
                    "license_server"
                  ]
                },
                "defaultValue": {
                  "type": "object",
                  "nullable": true,
                  "deprecated": false
                },
                "description": {
                  "type": "string",
                  "nullable": false,
                  "deprecated": false
                },
                "name": {
                  "type": "string",
                  "nullable": false,
                  "deprecated": false
                },
                "optional": {
                  "type": "boolean",
                  "nullable": false,
                  "deprecated": false
                },
                "title": {
                  "type": "string",
                  "nullable": false,
                  "deprecated": false
                }
              },
              "nullable": false,
              "deprecated": false,
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "input_file": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.InputFile",
                  "input_directory": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.InputDirectory",
                  "text": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.Text",
                  "integer": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.Integer",
                  "boolean": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.Bool",
                  "floating_point": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.FloatingPoint",
                  "peer": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.Peer",
                  "enumeration": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.Enumeration",
                  "license_server": "#/components/schemas/dk.sdu.cloud.app.store.api.ApplicationParameter.LicenseServer"
                }
              }
            }
          },
          "outputFileGlobs": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "applicationType": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "BATCH",
              "VNC",
              "WEB"
            ]
          },
          "vnc": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.VncDescription_Opt"
          },
          "web": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.WebDescription_Opt"
          },
          "container": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.ContainerDescription_Opt"
          },
          "environment": {
            "additionalProperties": {
              "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.InvocationParameter"
            },
            "nullable": true,
            "deprecated": false
          },
          "allowAdditionalMounts": {
            "type": "boolean",
            "nullable": true,
            "deprecated": false
          },
          "allowAdditionalPeers": {
            "type": "boolean",
            "nullable": true,
            "deprecated": false
          },
          "allowMultiNode": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "fileExtensions": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "licenseServers": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "shouldAllowAdditionalMounts": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "shouldAllowAdditionalPeers": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.ToolReference": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "version": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "tool": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.Tool_Opt"
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.Tool": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "modifiedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "description": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.NormalizedToolDescription"
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.NormalizedToolDescription": {
        "type": "object",
        "properties": {
          "info": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.NameAndVersion"
          },
          "container": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "defaultNumberOfNodes": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "defaultTimeAllocation": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.SimpleDuration"
          },
          "requiredModules": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "authors": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "title": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "description": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "backend": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "SINGULARITY",
              "DOCKER"
            ]
          },
          "license": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.NormalizedToolDescription_Opt": {
        "type": "object",
        "properties": {
          "info": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.NameAndVersion"
          },
          "container": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "defaultNumberOfNodes": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "deprecated": false
          },
          "defaultTimeAllocation": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.SimpleDuration"
          },
          "requiredModules": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "authors": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "title": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "description": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "backend": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "SINGULARITY",
              "DOCKER"
            ]
          },
          "license": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.Tool_Opt": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "modifiedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "deprecated": false
          },
          "description": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.NormalizedToolDescription"
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.ToolReference_Opt": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "version": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "tool": {
            "$ref": "#/components/schemas/dk.sdu.cloud.app.store.api.Tool_Opt"
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.InvocationParameter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "word",
              "bool_flag",
              "var",
              "env"
            ]
          }
        },
        "nullable": false,
        "deprecated": false,
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "word": "#/components/schemas/dk.sdu.cloud.app.store.api.WordInvocationParameter",
            "bool_flag": "#/components/schemas/dk.sdu.cloud.app.store.api.BooleanFlagParameter",
            "var": "#/components/schemas/dk.sdu.cloud.app.store.api.VariableInvocationParameter",
            "env": "#/components/schemas/dk.sdu.cloud.app.store.api.EnvironmentVariableParameter"
          }
        }
      },
      "dk.sdu.cloud.app.store.api.WordInvocationParameter": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "word"
            ]
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.WordInvocationParameter_Opt": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "word"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.BooleanFlagParameter": {
        "type": "object",
        "properties": {
          "variableName": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "flag": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "bool_flag"
            ]
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.BooleanFlagParameter_Opt": {
        "type": "object",
        "properties": {
          "variableName": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "flag": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "bool_flag"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.VariableInvocationParameter": {
        "type": "object",
        "properties": {
          "variableNames": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "prefixGlobal": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "suffixGlobal": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "prefixVariable": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "suffixVariable": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "isPrefixVariablePartOfArg": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "isSuffixVariablePartOfArg": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "var"
            ]
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.VariableInvocationParameter_Opt": {
        "type": "object",
        "properties": {
          "variableNames": {
            "type": "array",
            "nullable": false,
            "deprecated": false,
            "items": {
              "type": "string",
              "nullable": false,
              "deprecated": false
            }
          },
          "prefixGlobal": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "suffixGlobal": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "prefixVariable": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "suffixVariable": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "isPrefixVariablePartOfArg": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "isSuffixVariablePartOfArg": {
            "type": "boolean",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "var"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.EnvironmentVariableParameter": {
        "type": "object",
        "properties": {
          "variable": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "env"
            ]
          }
        },
        "nullable": false,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.EnvironmentVariableParameter_Opt": {
        "type": "object",
        "properties": {
          "variable": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "env"
            ]
          }
        },
        "nullable": true,
        "deprecated": false
      },
      "dk.sdu.cloud.app.store.api.InvocationParameter_Opt": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "word",
              "bool_flag",
              "var",
              "env"
            ]
          }
        },
        "nullable": true,
        "deprecated": false,
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "word": "#/components/schemas/dk.sdu.cloud.app.store.api.WordInvocationParameter",
            "bool_flag": "#/components/schemas/dk.sdu.cloud.app.store.api.BooleanFlagParameter",
            "var": "#/components/schemas/dk.sdu.cloud.app.store.api.VariableInvocationParameter",
            "env": "#/components/schemas/dk.sdu.cloud.app.store.api.EnvironmentVariableParameter"
          }
        }
      },
      "dk.sdu.cloud.app.store.api.ApplicationParameter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": false,
            "deprecated": false,
            "enum": [
              "input_file",
              "input_directory",
              "text",
              "integer",
              "boolean",
              "floating_point",
              "peer",
              "enumeration",
              "license_server"
            ]
          },
          "defaultValue": {
            "type": "object",
            "nullable": true,
            "deprecated": false
          },
          "description": {
            "type": "string",
            "nullable": false,
            "deprecated": false
          },
          "name": {
            "type": "string",
[...]
